.green {
  color: #5c7858; }

.pink {
  color: #e5a589; }

div.navbar + div {
  margin-top: 40px; }

.center {
  text-align: center; }

.clipmid {
  height: 300px; }

.center-circle {
  background: rgba(238, 197, 179, 0.9);
  border-radius: 500px;
  height: 300px;
  width: 300px;
  margin: 10px auto 0 auto; }
  .center-circle h1 {
    padding-top: 125px;
    width: 100%;
    text-align: center;
    font-size: 100pt;
    color: white; }

.small {
  font-size: 75%; }

body {
  background: url("/images/cranes.png") top right no-repeat; }

body > .container {
  background-color: rgba(255, 255, 255, 0.9); }

#hero {
  padding-top: 140px; }
  #hero h1, #hero h2 {
    font-weight: light; }

h1, h2, h3 {
  font-family: "Dorsa", sans;
  font-weight: lighter; }

h1 {
  font-size: 78pt; }

h2 {
  font-size: 56pt; }

a {
  text-decoration: underline !important; }

.row {
  padding-top: 40px; }

.rightalign {
  text-align: right; }

table {
  width: 100%; }
  table td {
    font-family: "Dorsa", sans;
    font-size: 28pt;
    color: #5c7858;
    width: 14.2%;
    text-align: center; }
    table td .datecircle {
      margin: 0 auto 0 auto;
      color: #e5ebe4;
      width: 40px;
      height: 40px;
      border-radius: 300px;
      background-color: #5c7858; }
