.green {
  color: #5c7858; }

.pink {
  color: #eec5b3; }

div.navbar + div {
  margin-top: 40px; }

.center {
  text-align: center; }

.clipmid {
  height: 300px; }

.center-circle {
  background: rgba(238, 197, 179, 0.8);
  border-radius: 500px;
  height: 300px;
  width: 300px;
  margin: 10px auto 0 auto; }
  .center-circle h1 {
    padding-top: 125px;
    width: 100%;
    text-align: center;
    font-size: 100pt;
    color: white; }

.small {
  font-size: 75%; }

body {
  background: url("/images/cranes.png") top right no-repeat; }

body > .container {
  background-color: rgba(255, 255, 255, 0.9); }

#hero {
  margin-top: 100px; }
  #hero h1, #hero h2 {
    font-weight: light; }
  #hero h1 {
    font-size: 78pt; }
  #hero h2 {
    font-size: 56pt; }

h1, h2, h3 {
  font-family: "Dorsa", sans;
  font-weight: lighter; }
